################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SudokuSolver/SudokuSolver/obj/Debug
/SudokuSolver/SudokuSolver/bin/Debug
/SudokuSolver/.vs/SudokuSolver
